version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    groups:
      github-actions:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
    commit-message:
      prefix: "ci"
    open-pull-requests-limit: 5
